{# src/MDQ/QuizzBundle/Resources/views/Quizz/jeuQuizz.html.twig #}

 
	<div id="bloc_question">	
		<div id="bloc_question_haut">
			<div id="bloc_question_dom"></div>
			<div id="bloc_question_numQ"></div>
		</div>
		<div id="bloc_question_central">
			<div id="bloc_question_theme_diff">
				<div id="bloc_question_theme"></div>
				<div id="bloc_question_diff"><img src="" alt="diff" height="10px"></div>
			</div>
			<div id="bloc_question_intitule"></div>
			<div id="bloc_question_commentaire"></div>
			<div id="bloc_question_photo"><img></div>
		</div>
		<div id="bloc_question_bas">
			<div id="bloc_question_bas_txt"></div>
		</div>
		
	</div>
	
		
