{# src/MDQ/QuizzBundle/Resources/views/Quizz/jeuQuizz.html.twig #}

{% extends "MDQQuizzBundle:Quizz:layoutjeuQ.html.twig" %}


	{% block question %}
		
	<div id="bloc_question_photo2">
		<img id="bloc_question_photo2_img">
		<div id="bloc_question_bas2">
			<div id="bloc_question_bas_txt2"></div>
		</div>
		
	</div>
	<div id="bloc_question_bas3">
		<div id="bloc_question_bas_txt3"></div>
	</div>
		
	
	{% endblock %}
	
