body
{
	width: 99%;
	min-width: 950px;
	margin:auto;
	background-color: rgb(230,230,220);	
}
p
{
	margin:0px;
	padding:0px;
}
li
{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
ul
{
	margin:0px;
	padding:0px;
}
a
{
	text-decoration: none;
}
*:visited
{
	color:black;
}
#adminbody
{
	border: solid 1px black;
	width: 950px;
	margin: auto;	
	padding: 2px;
	background-color: white;
}
.retour_accueil_admin
{
	border: solid 1px black;
	width: 120px;
	background-color: yellow;
	text-align:center;	
}
.retour_accueil_admin a
{
	color: black;
}
.bloc
{
	display: inline-block;
	border: solid 1px black;
	background-color: white;
	margin: 5px;
	width: 400px;
}
.blocadmin
{
	display: inline-block;
	width: 400px;
	vertical-align:top;
}
#blocadmin_droite, #blocadmin_gauche
{
	display:inline-block;
	width:410px;
	text-align:center;
	vertical-align:top;
}
.choix_accueilQ
{
	display: block;
	width: 200px;
	margin-left: 100px;
	margin-bottom: 20px;
	font-size: 20px;
	border: solid 1px black;
	text-align:center;
	cursor:pointer;
	background-color:rgb(255,200,200);
}
.formQ
{
	width:650px;	
	margin: auto;
	background-color: rgb(150,210,255);	
}
.formQ label
{
	display: block;
	margin: auto;
	width:200px;
}
.formQ select, .formQ input, .formQ textarea
{
	display: block;
	margin: auto;
	margin-bottom: 5px;
	width:200px;
}

.formQ textarea
{
	width:300px;
	height:80px;
}
#formQ_intitule textarea
{
	width:300px;
	height:50px;
}
.formQ_nblettres
{
	float:right;
	display:block;
	width:100px;
	margin-top:-20px;
}
.formQ .btnvalid
{
	cursor:pointer;
	width:100px;
	height: 30px;
	color: white;
	background-color:blue;
	border-radius: 10px;
	
}
#admin_editQ_error
{
	display:block;
	width:300px;
	margin:20px auto;
	background-color:rgb(255,80,80);
	color:white;
}
.admin_editQ_error_button
{
	display:block;
	margin:10px auto;
	width:100px;
	height:30px;
	line-height:30px;
	border:inset 2px white;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	background-color:red;
}
#formQ_theme_initial
{
	display:block;
	float:left;
	visibility:hidden;
}
.admin_listQ_bloc, #bloc_list_question li
{
	border: solid 1px black;
	width: 930px;
	margin: auto;
	margin-bottom: 5px;
	padding: 0px 5px;
	background-color: rgb(230,240,255);
	text-align:center;
	}
#bloc_list_question li .bloc1
{
	display: inline-block;
	width: 590px;
}
#bloc_list_question li .blocligne
{
	display: block;
	margin:3px 0px;
}
#bloc_list_question li .rep
{
	display: inline-block;
	border: solid 1px black;
	padding: 0px 5px;
	margin:2px;
	background-color: rgb(220,245,255);
}
#bloc_list_question li .commentaire
{
	display: inline-block;
	width: 550px;
	border: solid 1px black;
	background-color: rgb(245,245,155);
	text-align:center;
}
#bloc_list_question li .bloc2
{
	display: inline-block;
	width: 330px;
	vertical-align: top;
	background-color: rgb(250,200,250);
}
#bloc_list_question li .crit
{
	display: inline-block;
	font-size:10px;
}
#bloc_list_question li .critQ1, #bloc_list_question li .critQ2
{
	display: inline-block;
}
#bloc_list_question li .critQ2
{
	color:red;
}
#bloc_list_question li img
{
	display:block;
	margin:auto;	
}
#bloc_list_question li .prctrep, #bloc_list_question li .nblettre
{
	display: inline-block;
	font-size:12px;
	color:red;
	width:20px;
	margin-left:2px;
	
}
#bloc_list_question .bloc_intitule
{
	display:inline-block;
}
#bloc_list_question .bloc_intitule textarea
{
	width:500px;
	height:40px;
	background-color:rgb(211,249,188);
	text-align:center;
	resize:none;
	font-family:serif;
	word-spacing:110%;
	letter-spacing:1.5px;
}
#bloc_list_question .blocrep input
{
	width:245px;
	background-color:rgb(220,245,255);
	text-align:center;
	font-family:serif;
	word-spacing:110%;
	letter-spacing:1.5px;
	font-size:15px;
}
#bloc_list_question .commentaire textarea
{
	width:540px;
	height:70px;
	background-color:rgb(245,245,155);
	text-align:center;
	white-space:pre-wrap;
	resize:none;
	font-family:serif;
	word-spacing:110%;
	letter-spacing:1.5px;
}
#bloc_list_question .bloc2 select, #bloc_list_question .bloc2 input
{
	background-color:rgb(255,225,240);
	margin-bottom:3px;
}
#bloc_list_question 	.admin_listQ_modifier
{
	display:block;
	margin:10px auto;
	width:100px;
	height:30px;
	line-height:30px;
	border:inset 2px black;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	background-color:yellow;
	color:black;
}
#bloc_list_question 	.admin_listQ_valider
{
	display:inline-block;
	margin:10px auto;
	width:100px;
	height:30px;
	line-height:30px;
	border:inset 2px black;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	background-color:green;
	color:white;
}
#bloc_list_question 	.admin_listQ_invalider
{
	display:inline-block;
	margin:10px auto;
	width:100px;
	height:30px;
	line-height:30px;
	border:inset 2px black;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	background-color:red;
	color:white;
}
#bloc_list_question 	.admin_listQ_passvalid, #bloc_list_question 	.admin_listQ_envoyer
{
	display:inline-block;
	margin:10px auto;
	width:100px;
	height:30px;
	line-height:30px;
	border:inset 2px black;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	background-color:blue;
	color:white;
}
#bloc_list_question 	.admin_listQ_stats
{
	display:inline-block;
	width:540px;
	height:90px;
	background-color:rgb(255,127,0);
	border: 2px solid yellow;
	text-align:center;
	font-family:serif;
	font-size:11px;
	
}
#bloc_list_question 	.admin_listQ_stats_a
{
	display:inline-block;
	width:100px;
	background-color:rgb(255,203,96);
	border: 2px solid yellow;
	text-align:center;
	font-family:serif;
	font-size:11px;  
	margin-top:2px;
}
#admin_listQ_pagination
{
	text-align:center;
}
.admin_listQ_num_page
{
	display:inline-block;
	width:20px;
	border: solid 1px blue;
	background-color:rgb(230,240,255);
	margin:1px;
	color:blue;
}
.admin_listQ_num_page_active
{
	display:inline-block;
	background-color:yellow;
	border: solid 1px blue;
	width:20px;
}

/******************************** Liste User *******************************************/
.bloc_admin_listeU
{
	border:solid 1px black;
	margin:5px 10px;
}
.bloc_admin_listU_sc
{
	float:right;
	margin-right:5px;
	font-weight:normal;
}
.bloc_admin_listeU_gauche
{
	border:solid 1px black;
	display:inline-block;
	width:40%;
	margin:10px;
	font-size:15px;
	line-height:20px;
	letter-spacing:0.3px;
	vertical-align:middle;
}
.bloc_admin_listeU_droite
{
	border:solid 1px black;
	display:inline-block;
	width:50%;
	margin:10px;
	font-size:13px;
	line-height:20px;
	letter-spacing:0.3px;
}
.bloc_admin_listeU_droite_1
{
	display:inline-block;
	width:46%;
	margin:2px 7px;
	vertical-align:middle;
}
/******************************* Partie Stats *****************************************/
#page_stats
{
	text-align:center;
}
#page_stats table
{
	text-align:center;
	display:inline-block;
	vertical-align:top;
	border:solid 2px black;
	background-color:rgb(255,255,100);
	margin:20px;
	border-collapse:collapse;
}
#page_stats td
{
	border:solid 1px black;
	overflow:hidden;
	padding:3px 3px;
}
#page_stats caption
{
	font-weight:bold;
	padding:5px;
	background-color:rgb(160,255,255);
}
#page_stats th, #page_stats .td_titre
{
	border:2px solid black;
	font-weight:bold;
	padding:3px 5px;
	background-color:rgb(255,255,0);
}
#page_stats .td_gauche
{
	border-right:2px solid black;
	color: blue;
}
#page_stats .tr_tout
{
	border:2px solid black;
}
/******************************* Arbrathème **********************************************/
#arbra_bloc_onglet
{
	display:flex;
	width:100%;
	justify-content:space-around;
	align-items:center;
}
.arbra_onglet
{
	width:140px;
	border:solid 1px black;
	text-align:middle;
	height:40px;
	font-size:14px;
	line-height:40px;
	text-align:center;
	background-color:rgb(255,255,0);
	border-radius: 10px 0px;
}
.arbra_onglet:hover
{
	background-color:rgb(0, 255, 255);
	border:solid 2px black;
}
.arbra_titre
{
	font-size:18px;
	font-weight:bold;
	margin-top:25px;
	margin-bottom:5px;
}
.arbra_stats_dom3
{
	font-style:italic;
	font-size:15px;
	margin-left:15px;
}
#arbra_viewDom2
{
	display:block;
	float:right;
	margin-right:20px;
	margin-top:5px;
	border:solid 1px black;
	border-radius:10px;
	height:40px;
	width:60px;
	text-align:center;
	background-color:pink;
}
/**************************** News ************************************/

.admin_each_news
{
	width:900px;
	border: 1px solid black;
	background-color:rgb(255,175,175);
	text-align:center;
	margin:auto;
	margin-bottom:10px;
	padding:5px 0px;
}
.admin_news_gauche, .admin_news_droite
{
	display:inline-block;
	width:550px;
	border: 1px solid black;
	background-color:rgb(175,255,175);
	vertical-align:middle;
	letter-spacing:1.5px;
	word-spacing:110%;
}
.admin_news_droite
{
	width:250px;
}
.admin_news_droite .form_news
{
	width:200px;
	display:inline-block;
	background-color:rgb(111,183,255);
}

#form_edit_news textarea
{
	height:300px;
	width:75%;
}
