{# src/MDQ/GeneBundle/Resources/views/accueilJeu.html.twig #}

{% extends "MDQGeneBundle::layoutG.html.twig" %}



{% block body_gene %}

	
	<div id="bloc_accueil_HighScore">
		<div id="bloc_titre_accueil_HighScore"><div id="titre_accueil_HighScore">Tableau d'honneur</div></div>
	{% include("MDQGeneBundle:Gene/AccueilHs:accueilHighScoreHaut.html.twig") %}
	{% include("MDQGeneBundle:Gene/AccueilHs:accueilHighScoreMilieu.html.twig") %}
	{% include("MDQGeneBundle:Gene/AccueilHs:accueilHighScoreBas.html.twig") %}
	
	</div>
	
	
	<div class="bloc_menu">
	  <ul>
	  <li><a href="{{ path('mdqgene_accueil') }}"><img src="{{ asset('bundles/GeneBundle/petiteboulejaune.png') }}" alt="bjaune" width="20px">Accueil</a></li>
		</ul>
	</div>


  

{% endblock %}
