{# src/MDQ/GeneBundle/Resources/views/accueilJeu.html.twig #}

{% extends "MDQGeneBundle::layoutG.html.twig" %}
{% block stylesheets %}
	  <link rel="stylesheet" href="{{ asset('bundles/mdquser/css/user.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('bundles/mdqgene/css/gene2.css') }}" type="text/css" />
    {% endblock %}


{% block body_gene %}
	<div id="bloc_regle">
	<div id="regle_titre_bloc">Règles du jeu</div>
	<div id="regle_sommaire">
		<div id="regle_sommaire_bloc">
		<a  href="#regle-I"><div class="regle_som_titre1">I- Les différents jeux</div></a>
		<a  href="#regle-I1"><div class="regle_som_titre2">1) Le Masterquizz</div></a>
		<a	href="#regle-I2"><div class="regle_som_titre2" >2) Les Quizz du Capitaine</div></a>
		<a href="#regle-II"><div class="regle_som_titre1" >II- Autres informations</div></a>
		<a href="#regle-II1"><div class="regle_som_titre2" >1) Score et classements</div></a>
		<a href="#regle-II2"><div class="regle_som_titre2" >2) Jetons</div></a>
		</div>
	</div>
	<p>Bienvenue dans le Monde Du Quizz !!!</p>
	<p>Le Monde Du Quizz propose différents jeux pour vous divertir en mettant vos connaissances à l'épreuve. </p>
	<div class="regle_titre1" id="regle-I">I- Les différents jeux</div>
	<p>Actuellement, 3 quizz différents sont disponibles. Chaque quizz se présente sous forme de QCM et il y a toujours une seule bonne réponse à retrouver.</p>
		<div class="regle_titre2" id="regle-I1">1) Le MasterQuizz</div>
	<p>	Le <span class="regle_nom_jeu">MasterQuizz</span> est un quizz de culture générale. 10 questions sont posées successivement, 
		de difficulté croissante. Les questions sont sous forme de texte et la réponse est à choisir parmi 4 propositions.</p> 
	<p>	Le score marqué dépend de la difficulté de la question et du temps de réponse.</p>
		
		<div class="regle_titre2" id="regle-I2">2) Les Quizz du Capitaine</div>
	<p>	Les Quizz du Capitaine sont des quizz centrés sur un domaine spécifique. Chaque partie est composée
		de 8 questions. Les questions se présentent sous forme de photo et la réponse est à choisir parmi les 4 propositions.</p>
	<p>	Il existe actuellement 2 quizz du Capitaine qui sont opérationnels : </p>
		<p>- <span class="regle_nom_jeu">Quizz Nature</span> : A chaque question est présentée la photo d'un animal ou d'un végétal dont il faut retrouver le nom.</p>
		<p>- <span class="regle_nom_jeu">Quizz Géo</span> : A chaque question est présentée la photo d'un lieu à identifier ou une carte à compléter. </p>
	
	<div class="regle_titre1" id="regle-II">II- Autres informations</div>
		<div class="regle_titre2" id="regle-II1">1) Scores et classements</div>
	<p>Le Monde du Quizz propose plusieurs scores et classements qui sont autant d'occasions 
	de se situer par rapport aux autres et de briller au sein de MDQ. Si vous
	êtes performants, vous remporterez des médailles et vous pourrez peut-être - honneur suprême - figurer parmi les Maîtres du Monde
	du Quizz !!!</p>
	<p>- Le <span class="regle_nom_jeu">Master du jour</span> est le classement des meilleurs scores au MasterQuizz de chaque joueur dans la journée en cours. Le vainqueur remporte la médaille d'or et sera désigné <span class="regle_nom_maitre">Savant de MDQ</span>.</p>
	<p>- Le joueur qui obtient le meilleur score de la journée au <span class="regle_nom_jeu">Quizz Géo</span> obtiendra la médaille d'or et sera désigné <span class="regle_nom_maitre">Globe-trotter de MDQ</span> le jour suivant.</p>
	<p>- Le joueur qui obtient le meilleur score de la journée au <span class="regle_nom_jeu">Quizz Nature</span> obtiendra la médaille d'or et sera désigné <span class="regle_nom_maitre">Ecologiste de MDQ</span> le jour suivant.</p>
	<p>- Le <span class="regle_nom_jeu">Score du Capitaine</span> est égal à la somme des meilleurs scores réalisés dans chacun des Quizz du Capitaine, dans la journée en cours. Celui qui gagne ce classement sera désigné <span class="regle_nom_maitre">Capitaine de MDQ</span></p>
	<p>- Le <span class="regle_nom_jeu">Tournoi Royal</span> est un tournoi hebdomadaire qui rassemble l'ensemble des quizz proposés par MDQ. Le score est égal à la somme des meilleurs scores au MasterQuizz et au Quizz du Capitaine dans la semaine en cours. Le vainqueur de ce trounoi sera désigné <span class="regle_nom_maitre">Roi de MDQ</span> pour la semaine suivante.</p>
	     
		<div class="regle_titre2" id="regle-II2">2) Jetons</div>
	<p>Chaque joueur dispose de 10 jetons quotidiens pour jouer à MDQ, chaque partie consommant un jeton.</p>
	</div>
	
	<div class="bloc_menu">
	  <ul>
	  <li><a href="{{ path('mdqgene_accueil') }}"><img src="{{ asset('bundles/mdqgene/images/petiteboulejaune.png') }}" alt="bjaune" width="20px">Accueil</a></li>
		</ul>
	</div>

	

{% endblock %}
{% block javascripts %}

{% endblock %}
