body
{
	width: 100%;
	min-width: 950px;
	margin:auto;
	background-color: black;
	font-family:serif;
	font-size:12px;
}
p
{
	margin:0px;
	padding:0px;
}
li
{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
ul
{
	margin:0px;
	padding:0px;
}
a
{
	text-decoration: none;
	color:yellow;
	cursor:pointer;
}
#bloc_page
{
	width:980px;
	min-height:700px;
	margin:auto;
	background-color: rgb(27,35,114);
	background-image: url("fond2cb.jpg");
	padding-bottom:20px;
	text-align:center;
}
.bloc
{
	display: inline-block;
	border: solid 1px rgb(243,248,78);
	background-color: black;
	color: rgb(234,254,255);
	margin: 5px;
	width: 400px;
	vertical-align:top;
}
#pied_page
{
	display:block;
	width:750px;
	margin:auto;
	margin-top:100px;	
	font-size:11px;	
	letter-spacing:1px;
}
#pied_page .pied_page_crit
{
	display:inline-block;
	margin-left:30px;
	margin-right:30px;
	cursor:pointer;
}
.bloc_menu
{
	background-color:black;
	border: solid 1px rgb(243,248,78);
	width:100px;
	float:right;
	margin-bottom:40px;
	font-family:Arial;
	letter-spacing:1px;
	word-spacing:150%;
	font-size:14px;
	text-align:left;
	margin-top:-22px;
}
.bloc_menu img
{
	margin-right:5px;
	vertical-align:middle;
}
.bloc_menu a
{
	color: rgb(234,254,255);
}
.bloc_menu li
{
	display:inline-block;
	width:95px;
	height:22px;
	line-height:22px;
	text-align:left;
	margin-left:10px
}
#flash_message
{
	background-color:rgb(0,255,255);
	color:black;
	display:none;
	margin:auto;
	width:500px;
	position:fixed;
	top:40%;
	left:230px;
	border:outset 5px white;
	padding:10px 20px;;
	font-size:17px;
	font-family:Arial;
	letter-spacing:1px;
	word-spacing:150%;
	z-index:1;
}
#flash_message_croix
{
	background-color:red;
	color:white;
	width:20px;
	border:solid 1px white;
	border-radius:10px;
	float:right;
	cursor:pointer;
}
.affich_flash
{
	cursor:pointer;
	color:yellow;
}
.sigle_aide
{
	background-color:blue;
	color:white;
	width:14px;
	border:solid 1px white;
	border-radius:7px;
	float:right;
	cursor:pointer;
	font-size:11px;
	margin-top:-58px;
	margin-right:3px;
	text-align:center;
	cursor:pointer;
}
#haut_page
{
	margin-bottom:10px;
	display:inline-block;
	width:980px;
}
/* ///////////////////////////// Page Accueil //////////////////////////// */
#bloc_titre
{
	display:inline-block;
	float:left;
}



#bloc_connexion
{
	float:right;
	width: 200px;
	vertical-align:bottom;
	display: inline-block;
	color: rgb(234,254,255);
	margin: 10px;
	/*border: solid 1px rgb(243,248,78);*/
}
#bloc_connexion input
{
	background-image: url("fondinput.jpg");
	margin:2px;
	margin-right:5px;
	float:right;
}
#bloc_connexion #remember_me
{
	margin-top:10px;
}
#_submit
{
	background-image: url("fondvalid.jpg");
	cursor:pointer;
	border-radius:5px;
}
#inscrire
{
	float:right;
	margin-right: 20px;
}
#pseudo
{	
	width:120px;
	text-align: center;	
	color:rgb(235,258,1);
	overflow:hidden;
	background-image: url("connexionb.jpg");
	margin-bottom:6px;
}
.list_connexion
{
	color:black;
	width:143px;
	height:16px;
	display:block;
	background-image: url("fondinput.jpg");
	margin:2px;
	padding:1px;
	font-size:15px;
	margin-right:5px;
	float:right;
	border: 2px inset white;
	text-align:center;	
}
.list_connexion a
{
	color:black;
}
#deconnexion
{
	float:right;
	margin-right: 5px;
}
#accueil_bloc_centre
{
	display: block;
	border: solid 1px rgb(243,248,78);
	background-color: black;
	color: rgb(243,248,170);
	margin: auto;
	width: 700px;
	height:250px;
	border-radius:10px;
	margin-bottom:40px;
	text-align:center;
	font-family:Courier;
	font-size:23px;
	font-weight: bold;
	
}

.bloc_centre_anim, #accueil_bloc_centre_anim
{
	width:700px;
	margin:auto;
	height:250px;
	border-radius:10px;
	overflow:hidden;
}
#bloc_centre_anim1
{
	background-image: url("anim1b.jpg");
	position:absolute;
}
#bloc_centre_anim2
{
	background-image: url("anim2.jpg");
	display:none;
	position:absolute;
}

#bouton_jouer
{
	display:block;
	width:128px;
	height:128px;
	margin:auto;
	margin-top:-20px;
	position:relative;
	z-index:10;
	/*margin-top:150px;*/
	
}
#bloc_heighSc
{
	display:inline-block;
	width:385px;
	font-family:Arial;
	letter-spacing:1px;
	word-spacing:0%;
	text-align:center;
	margin-right:40px;
}
#accueil_maitre
{
	width:380px;
	margin-bottom:70px;
	height:360px;
	text-align:center;
}
#accueil_maitre_ligne1, #accueil_maitre_ligne2
{
	width:380px;
	overflow:hidden;
	height:180px;
	margin-top:10px;
}
#accueil_maitre_ministre, #accueil_maitre_savant
{
	vertical-align:-20px;
}
.accueil_maitre_txt
{
	display:inline-block;
	width:120px;
	color:white;
	font-weight:bold;
}
.accueil_maitre_txt2
{
	display:inline-block;
	width:90px;
	color:white;
	font-weight:bold;
	font-size:10px;
}
.accueil_maitre_txt_nom_H
{
	background-color:black;
	color:rgb(0,255,255);
	overflow:hidden;
}
.accueil_maitre_txt_nom_F
{
	background-color:black;	
	color:rgb(255,130,200);
	overflow:hidden;
}
.accueil_maitre_col1
{
	width:121px;
	display:inline-block;
}
.accueil_maitre_col2
{
	width:90px;
	display:inline-block;
}

#accueil_maitre_MB
{
	display:block;
	width:380px;
	text-align:center;
	margin-top:-100px;
}
#accueil_maitre_M
{
	display:inline-block;
	width:150px;
}
#accueil_maitre_B
{
	display:inline-block;
	margin-left:65px;
	width:150px;
}
#highScDay
{
	width:380px;
	margin-bottom:80px;
	height:220px;
}
#highScMonth
{
	width:380px;
	height:220px;
}
.accueil_heighSC_tous
{
	display:inline-block;
	font-size:13px;
	width:170px;
}
.accueil_heighSC_1
{
	font-size:16px;
	margin-top:5px;
}
.accueil_heighSC_2
{
	font-size:15px;
	/*text-align:left;
	margin-left:40px;	*/
}
.accueil_heighSC_3
{
	font-size:15px;
	/*text-align:right;
	margin-right:40px;*/
}
.accueil_heighSC_col
{
	display:inline-block;
	width:180px;
	margin-top:10px;
	vertical-align:top;
}
.accueil_highSC_nom
{
	display:inline-block;
	width:120px;
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
}
.accueil_highSC_sc
{
	display:inline-block;
	float:right;
}

.img_highscore
{
	text-align:left;
	margin-left:30px;
	margin-top:-15px;
}
#colonne_droite
{
	width:530px;
	display:inline-block;
	vertical-align:top;
	margin-top:0px;
}
#newslarge
{
	display:inline-block;
	width:520px;
	text-align:justify;
	font-family: Arial;
    font-size: 15px;
    letter-spacing: 1px;
}
#newslarge img
{
	margin-left:30px;
	margin-top:-15px;
}
#bloc_news
{	
	width: 500px;	
	height: 250px;
	overflow:auto;
	margin-left:20px;
	padding-bottom:10px;
}
.bloc_news_titre
{
	font-family:Courier;
	color: rgb(243,248,170);
	margin-top:15px;
	margin-right:20px;
	font-size:17px;
}
.bloc_news_date
{
	font-size:12px;
	margin-left:30px;
	margin-bottom:10px;
	font-style:italic;
}
.bloc_news_texte
{
	margin-right:20px;
	margin-bottom:30px;
	letter-spacing: 1.5px;
	line-height:110%;
}
#bloc_menu
{
	width:385px;
	float:right;
	margin-bottom:40px;
	font-family:Arial;
	letter-spacing:1px;
	word-spacing:150%;
	font-size:13px;
	text-align:center;
}
#bloc_menu img
{
	margin-right:5px;
	vertical-align:middle;
}
#bloc_menu a
{
	color: rgb(234,254,255);
}
#bloc_menu li
{
	display:inline-block;
	width:160px;
	height:30px;
	line-height:30px;
	text-align:left;
}
#bloc_QnF
{
	display:inline-block;
	width: 520px;
	height: 280px;
	margin-top:40px;
	text-align:center;
}
.accueil_QnF_colonne
{
	display:inline-block;
	width:255px;
	vertical-align:top;
}
#accueil_QnF_col_TF
{
	font-family:Arial;
	letter-spacing:1px;
}
#bloc_QnF .QnF_col
{
	vertical-align:top;
	display:inline-block;
	width:125px;
	height:130px;
}
.QnF_ligne_HighSc
{
	width:120px;
	font-size:12px;
	overflow:hidden;
	text-align:left;
}
.Qnf_highSC_nom 
{
	display:inline-block;
	width:80px;
	overflow:hidden;
	white-space:nowrap;
}
.Qnf_highSC_sc
{
	display:inline-block;
	float:right;
}
.QnF_col_titre
{
	font-family:arial;
	font-size:13px;
	margin:5px 0px;
	height:18px;
	margin-bottom:15px;
}

/* ******************************** Page HighScore ******************************** */
#bloc_HighScore
{
	display: block;
	border: solid 1px rgb(243,248,78);
	background-color: black;
	color: rgb(234,254,255);
	margin: 5px;
	width: 450px;
	margin:auto;
	margin-top:-20px;
	text-align:center;
	font-family: Arial;
    font-size: 16px;
    letter-spacing: 1px;
}
#bloc_HighScore h3
{
	letter-spacing:2px;
	color:white;
	padding:10px;
	border-bottom:solid 1px rgb(243,248,78);
	font-weight:normal;
	margin:0 0 20px;
}
#bloc_HighScore .ligne_HSc
{
	display:block;
	width:250px;
	margin:3px auto;
	text-align:left;
}
#bloc_HighScore .ligne_HSc:hover, #bloc_HighScore .ligne_HSc_Med:hover
{
	background-color:rgb(75,75,75);
}
#bloc_HighScore .ligne_HSc_Med
{
	display:block;
	width:440px;
	margin:5px auto;
	text-align:center;
	line-height:20px;
}
#bloc_HighScore .ligne_HSc_Med img
{
	width:15px;
}
.bloc_med
{
	display:inline-block;
	width:45px;	
}
#bloc_HighScore .score
{
	font-size:13px;
}
#bloc_HighScore .num_nom
{
	display:inline-block;
	width:150px;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
}
#bloc_HighScore .ligne_HSc .score
{
	float:right;
}
#bloc_HighScore .ligne_HSc_Med .score
{
	display:inline-block;
	text-align:center;
	width:280px;
}
#bloc_HighScore #nbfois_highSC
{
	font-size:11px;
}
#bloc_HighScore .pagination
{
	width:450px;
	text-align:center;
	margin:20px 0px;
}

#bloc_HighScore .pagination .num_page
{
	width:20px;
	display:inline-block;
	border: solid 1px rgb(243,248,78);
	padding:4px;
	margin: 3px;
	border-radius:2px;
}
#bloc_HighScore .pagination .num_page:hover
{
	background-color: rgb(122,124,39);
	cursor:pointer;
}
#bloc_HighScore .pagination .num_page a
{
	padding:4px;
}
#bloc_HighScore .pagination .num_page_active
{
	width:20px;
	display:inline-block;
	border: solid 1px rgb(243,248,78);
	padding:4px;
	margin: 4px;	
	background-color:rgb(180,185,60);
	border-radius:2px;
}
#bloc_HighScore .pagination .num_page_active a
{
	color: rgb(0,0,0);
	padding:4px;
}
#page_HighScore .bloc_menu
{
	margin-top:-44px;
	float:none;
	position:absolute;
	right:60px;
}
.highScore_aide
{
	background-color:rgb(0,255,255);
	color:black;
	display:none;
	width:150px;
	border:outset 5px white;
	padding:10px;
	font-size:13px;
	font-family:Arial;
	letter-spacing:1px;
	word-spacing:120%;
	float:right;
	margin-top:-20px;
	margin-right:50px;
}
/***************************************** page accueil HighScore *******************************************/
#bloc_accueil_HighScore
{
	display: block;
	border: solid 1px rgb(243,248,78);
	border-radius:10px;
	background-color: black;
	color: rgb(234,254,255);
	margin: auto;
	margin-bottom:30px;
	width: 900px;
	font-family:Arial;
	letter-spacing:1px;
	word-spacing:150%;
	text-align:center;
}
#titre_accueil_HighScore
{
	width:200px;
	text-align:center;
	background-color:black;
	color: rgb(243,248,78);
	font-size:25px;
	border: solid 1px rgb(243,248,78);
	border-radius:20px;
	margin-top:-20px;
	margin-left:650px;	
}
.sous_bloc_accueil_HighScore
{
	display:inline-block;
	width:265px;
	border: solid 1px rgb(243,248,78);
	margin:10px;
	padding-bottom:10px;
	vertical-align:top;
	height:300px;
}
.listescore_bloc_accueil_HighScore
{
	display:inline-block;
	font-size:13px;
	letter-spacing:1.2px;
	line-height:18px;
	width:260px;
	overflow:hidden;
	white-space:nowrap;
}
.titre_sous_bloc_accueil_HighScore
{
	border-bottom: solid 1px rgb(243,248,78);
	margin-bottom:10px;
	font-size:17px;
	color:rgb(255,255,255);
	padding:5px;	
	font-family:Courier;
}
.sous_bloc_accueil_HighScore_QnF, .sous_bloc_accueil_HighScore_QnF_2
{
	display:inline-block;
	width:210px;
	height:310px;
	border: solid 1px rgb(243,248,78);
	padding-bottom:10px;
	vertical-align:top;
	margin:20px 2px;
}
.sous_bloc_accueil_HighScore_QnF .titre_sous_bloc_accueil_HighScore, .sous_bloc_accueil_HighScore_QnF_2 .titre_sous_bloc_accueil_HighScore
{
	font-size:15px;
	height:55px;
	line-height:55px;
}
.sous_bloc_accueil_HighScore_QnF .titre_sous_bloc_accueil_HighScore_txt, .sous_bloc_accueil_HighScore_QnF_2 .titre_sous_bloc_accueil_HighScore_txt
{
	display:inline-block;
	line-height:18px;
	vertical-align:middle
}
.sous_bloc_accueil_HighScore_QnF .listescore_bloc_accueil_HighScore
{
	width:210px;
	line-height:17px;
}
.sous_bloc_accueil_HighScore_QnF_2 .listescore_bloc_accueil_HighScore
{
	width:210px;
	line-height:20px;
}
.accueil_HighScore_clsmt
{
	font-size:9px;
	vertical-align:middle;
}
.sous_bloc_accueil_HighScore img
{
	width:13px;
}
.accueil_HighSc_Med
{
	display:inline-block;
	width:130px;
	overflow:hidden;
	text-align:right;
	margin-right:5px;
}
.accueil_HgSc_gauche
{
	display:inline-block;
	width:120px;
	overflow:hidden;
}
.sous_bloc_accueil_HighScore_QnF img
{
	width:12px;
}
.sous_bloc_accueil_HighScore_QnF .accueil_HighSc_Med, .sous_bloc_accueil_HighScore_QnF_2 .accueil_HighSc_Med
{
	width:80px;
	text-align:right;
}
/******************************** page règle du jeu **************************/
#bloc_regle
{
	text-align:justify;
	font-family: Arial;
	letter-spacing:2.5px;
	font-size:14px;
	word-spacing:105%;
	line-height:20px;
}
#regle_sommaire
{
	text-align:center;
	margin-bottom:50px;
}
#regle_sommaire_bloc
{
	display:inline-block;
	text-align:left;
}
.regle_som_titre1
{
	color:yellow;
	margin-top:20px;
	font-size:16px;
}
.regle_som_titre2
{
	margin-left:40px;	
	color:rgb(0,255,255);
	margin-top:7px;
}
#bloc_regle p
{
	width:650px;
	margin:10px auto;
	text-indent:60px;
}
.regle_titre1
{
	margin-left:75px;
	margin-top:50px;
	color:yellow;
	font-size:16px;
}
.regle_titre2
{
	margin-top:30px;
	margin-bottom:15px;
	margin-left:150px;	
	color:rgb(0,255,255);
}
/************************************************* Accueil Jeu **************************************************/
.accueil_jeu_bloc
{
	width:400px;
	height:460px;
	padding-top:20px;
	margin:10px 20px;	
	margin-bottom:40px;
	text-align:center;
}
#accueil_jeu_Mq
{
	/*background-image:url('FondAccueilJeu4.png');*/
}
#accueil_jeu_boutonGo
{
	display:inline-block;
	position:relative;
	top:90px;
	border-radius:40px;
	overflow:hidden;
	
}
#accueil_jeu_bloc_QnF
{
	margin-top:30px;
	text-align:center;
}
.accueil_jeu_QnF
{
	display:inline-block;
	width:145px;
	height:90px;
	border: outset 2px yellow;
	vertical-align:top;
	background-color:black;
	margin:15px 15px;
	border-radius:25px;
}
.accueil_jeu_QnF:hover
{
	background-color:rgb(190,240,240);
	border: inset 2px yellow;
}
.accueil_jeu_QnF img
{
	display:inline-block;
	vertical-align:middle;
}
#accueil_jeu_QnF_comment
{
	display:none;	
	width:360px;
	margin-top:30px;
	height:70px;
	line-height:70px;
	font-family:Arial;
	font-size:18px;
	color:rgb(255,255,255);
	border-radius:15px;
	border:outset 3px rgb(0,255,255);
	background-color:rgb(60,60,60);
	
}
#accueil_jeu_QnF_comment_txt
{
	display:inline-block;
	line-height:20px;
	vertical-align:middle;
}
